<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>    
    <section name="CustomConfig" type="DataLayer.ConfigurationService, Datalayer" allowDefinition="Everywhere" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <CustomConfig ConnectionString="DatabaseEntities" />
  <appSettings>
    <add key="title" value="مدرسه یاب، موتور جستجوی مدارس کشور|madreseyab.com" />
    <add key="description" value="موتور جستجو از بین مدارس دخترانه، پسرانه، دولتی، غیردولتی، ورزشی، قرآنی، غیرانتفاعی و مقایسه امکانات و تجهیزات مدارس با فیلتر بر اساس استان و امکانات مدرسه" />
    <add key="keyword" value="مدرسه، مدرسه دخترانه، دبستان، راهنمایی،دبیرستان،دولتی،غیردولتی،غیرانتفاعی،خصوصی،قرآنی" />
    <add key="DefaultTimeOut" value="40" />
    <add key="DefaultAcceptTimeOut" value="50" />
    <add key="DefaultExceptionTitle" value="خطاي ناشناخته" />
    <add key="DefaultExceptionMessage" value="عمليات مورد نظر شما با خطا متوقف شد" />
    <add key="DefaultExceptionHelpNote" value="جهت رفع خطا با مدير سيستم تماس بگيريد" />
    <add key="DefaultExceptionInnerException" value="Fatal Error!" />
    <add key="BlogImageUrl" value="~/Files/Blog/Images" />
    <add key="BlogFileUrl" value="~/Files/Blog/Images" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="info@rasamafzar.ir">
        <network host="smtp.gmail.com" password="123456_123456" userName="atlassaz@gmail.com" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <!--<add name="DatabaseEntities" connectionString="metadata=res://*/EFModel.csdl|res://*/EFModel.ssdl|res://*/EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=138.201.44.247,1430;initial catalog=Madreseyab;persist security info=True;user id=DebugAdmin;password=ostadsalam_DEBUGADMIN;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DataConnectionString" connectionString="data source=138.201.44.247,1430;initial catalog=Madreseyab;persist security info=True;user id=DebugAdmin;password=ostadsalam_DEBUGADMIN;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <!--<add name="AsanSazEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=138.201.44.247,1430;initial catalog=Madreseyab;persist security info=True;user id=DebugAdmin;password=ostadsalam_DEBUGADMIN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--    <add name="DatabaseEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=138.201.44.247,1430;Initial Catalog=Madreseyab;User ID=DebugAdmin;Password=ostadsalam_DEBUGADMIN;max pool size=300;pooling=true;connect timeout=100;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="DatabaseEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Madreseyab_Debug;Integrated Security=True;Pooling=True;Max Pool Size=300;connect timeout=100;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" />
    </authentication>
    <membership defaultProvider="EFMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="EFMembershipProvider" type="Provider.EFMembership" connectionStringName="DatabaseEntities" passwordFormat="Hashed" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" />
      </providers>
    </membership>
    <profile defaultProvider="EFProfileProvider" enabled="true">
      <providers>
        <clear />
        <add name="EFProfileProvider" type="Provider.EFProfile" connectionStringName="DatabaseEntities" />
      </providers>
      <properties>
        <clear />
        <add name="UserId" type="System.Guid" />
        <add name="FullName" type="string" defaultValue="بی نام" />
        <add name="FirstName" type="string" defaultValue="بی نام" />
        <add name="LastName" type="string" defaultValue="بی نام" />
        <add name="Email" type="string" />
        <add name="Mobile" type="string" />
        <add name="Phone" type="string" />
        <add name="ApplicantId" type="int" />
        <add name="Applicant" type="DataLayer.Applicant" allowAnonymous="true" />
      </properties>
    </profile>
    <roleManager enabled="true" defaultProvider="EFRoleProvider">
      <providers>
        <clear />
        <add name="EFRoleProvider" type="Provider.EFRole" connectionStringName="DatabaseEntities" />
      </providers>
    </roleManager>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" styleSheetTheme="Default">
      <controls>
        <add tagPrefix="pdc" assembly="PersianDateControls 2.0" namespace="PersianDateControls" />
        
        <add tagPrefix="asp" tagName="CKEditor" src="~/UserControl/Common/Other/CKEditor.ascx" />
      <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" /></controls>
     </pages>
    <httpRuntime targetFramework="4.6" executionTimeout="500" maxRequestLength="512" />
    <sessionState mode="InProc" timeout="60" />
  </system.web>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="App_MasterPage">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <!--<location path="Administrator">
    <system.web>
      <authorization>
        <allow roles="Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="Buyer">
    <system.web>
      <authorization>
        <allow roles="Applicant" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="iisstart.htm" />
        <add value="_holding.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <siteMap>
      <providers>
        <add name="Administrator" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Administrator.sitemap" />
        <add name="School" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/School.sitemap" />
        <add name="Manager" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Manager.sitemap" />
        <add name="Content" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Content.sitemap" />
        <add name="Marketing" type="System.Web.XmlSiteMapProvider" siteMapFile="~/SiteMaps/Marketing.sitemap" />
        <add name="Default" type="DynamicSiteMapProvider" siteMapFile="~/SiteMaps/Default.sitemap" />
      </providers>
    </siteMap>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>      
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>